{{set . "title" "Home"}}
{{append . "scripts" "/public/js/app/index.js"}}
{{append . "scripts" "/public/js/app/firebase.js"}}{{template "header.html" .}}

<div style="float: right;margin: 10px 50px 0 0;">
  <button id="sign-in" class="mdc-button foo-button" onclick="location.href='/login'"
      style="display: none;font-size: 1.2rem;">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">ログイン</span>
  </button>
  <button class="signedin mdc-button foo-button" onclick="signout()"
      style="display: none;font-size: 1.2rem;">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">ログアウト</span>
  </button>
</div>

{{template "footer.html" .}}
