<!DOCTYPE html>
<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
    <script src="/public/js/app/firebase.js"></script>
    <script src="/public/js/app/config.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="/public/css/app/common.css">
    {{range .styles}}
      <link rel="stylesheet" type="text/css" href="{{.}}">
    {{end}}
    {{range .scripts}}
      <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    <script>
      window.authOkCallback = window.authOkCallback || function(token) {
      };
      window.authNgCallback = window.authNgCallback || function(error) {
        switch (location.pathname) {
          case '/': location.href = '/login'; break;
          case '/login': break;
          default: location.href = '/';
        }
      };
      let idToken;
      firebase.auth().onAuthStateChanged(user => {
        if (user) {
          $('.signedout').hide();
          $('.signedin').fadeIn();
          $('#user-name').text(user.email);

          user.getIdToken(true).then(function (token) {
            authOkCallback && authOkCallback(token);
            idToken = token;
            axios
              .get(window.apiBaseURL+'/api/context', {
                headers: {Authorization: `Bearer ${idToken}`}
              })
              .then(res => {
                $('#project-id').val(res.data.prj);
                $('#app-revision').val(res.data.rev);
              })
              .catch(error => console.log(error));
          }).catch(authNgCallback);
        } else {
          $('.signedout').fadeIn();
          $('.signedin').hide();
          authNgCallback && authNgCallback();
        }
      });
      $(document).on('show.bs.modal','#reset-password', function (e) {
        const option = {headers: {Authorization: `Bearer ${idToken}`}};
        axios
          .post(window.apiBaseURL+'/api/passwords', {}, option)
          .then(res => {
            let link = res.data.link.substring(0, res.data.link.indexOf('?'));
            $('#password-reset-link').html('<a href="'+res.data.link+
                '" target="_blank">'+link+'?mode=...</a>');
          })
          .catch(error => console.log(error));
      });
      function signout() {
        firebase.auth().signOut();
      }
    </script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  </head>
  <body>
    <input id="project-id" type="hidden">
    <input id="app-revision" type="hidden">
    <div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <span class="material-symbols-outlined">
              home
              </span>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="signedin nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="material-symbols-outlined">
                  menu
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <h6 class="dropdown-header">Jupyter ノートブック</h6>
                  <li><a href="/notebooks">&nbsp;&nbsp;一覧</a></li>
                  <li><a href="/notebooks/new">&nbsp;&nbsp;新規作成</a></li>
                  <li role="separator" class="divider"></li>
                  <h6 class="dropdown-header">GPU ワークステーション</h6>
                  <li><a>&nbsp;&nbsp;一覧</a></li>
                  <li role="separator" class="divider"></li>
                  <h6 class="dropdown-header">長期実行ジョブ投入</h6>
                  <li><a>&nbsp;&nbsp;一覧</a></li>
                </ul>
              </li>
            </ul>
            <ul class="signedin nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="material-symbols-outlined">
                  settings
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li><a data-toggle="modal" data-target="#reset-password">パスワード再設定</a></li>
                  <li><a onclick="signout()">ログアウト</a></li>
                </ul>
              </li>
            </ul>
            <div class="signedin navbar-header navbar-right">
              <div style="padding: 15px 7px 0 0;font-size: 1.7rem;color: #a3a3a3;"
                id="user-name"></div>
            </div>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="modal fade" id="reset-password" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                  style="float: right;display: block;">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">パスワード再設定</h4>
          </div>
          <div class="modal-body">
            パスワード再設定のためのリンクを生成しています。<br><br>
            <span id="password-reset-link" style="font-size: 1.8rem;
              display: block;padding: 0 0 30px 0;">少々お待ちください。</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
